{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">Permit Details</h3>

<div class="card p-4 shadow-sm">

    <h5 class="mb-3">Permit Information</h5>

    <p><strong>Permit Number:</strong> {{ permit.permit_number }}</p>
    <p><strong>Permit Type:</strong> {{ permit.permit_type }}</p>

    <p><strong>Status:</strong>
        {% if permit.status == "Active" %}
            <span class="badge bg-success">Active</span>
        {% elif permit.status == "Expired" %}
            <span class="badge bg-danger">Expired</span>
        {% else %}
            <span class="badge bg-warning text-dark">Suspended</span>
        {% endif %}
    </p>

    <p><strong>Issue Date:</strong> {{ permit.issue_date }}</p>
    <p><strong>Expiry Date:</strong> {{ permit.expiry_date }}</p>

    <hr>

    <h5 class="mb-3">Vessel Information</h5>

    <p><strong>Call Sign:</strong> {{ permit.vessel.call_sign }}</p>
    <p><strong>International Number:</strong> {{ permit.vessel.international_number }}</p>
    <p><strong>Owner:</strong> {{ permit.vessel.owner_name }}</p>

    <div class="mt-4 d-flex gap-2">

    <a href="{{ url_for('main.permits') }}" class="btn btn-secondary">Back to Permits</a>

    <a href="{{ url_for('main.edit_permit', permit_id=permit.id) }}"
       class="btn btn-warning">
        Edit Permit
    </a>

    <form action="{{ url_for('main.delete_permit', permit_id=permit.id) }}"
          method="POST"
          onsubmit="return confirm('Are you sure you want to delete this permit?');">
        <button class="btn btn-danger">Delete</button>
    </form>

    {% if permit.status != "Active" %}
    <form action="{{ url_for('main.activate_permit', permit_id=permit.id) }}" method="POST">
        <button class="btn btn-success">Activate</button>
    </form>
    {% endif %}

    {% if permit.status != "Suspended" %}
    <form action="{{ url_for('main.suspend_permit', permit_id=permit.id) }}" method="POST">
        <button class="btn btn-outline-warning">Suspend</button>
    </form>
    {% endif %}

    {% if permit.status != "Expired" %}
    <form action="{{ url_for('main.expire_permit', permit_id=permit.id) }}" method="POST">
        <button class="btn btn-outline-secondary">Mark Expired</button>
    </form>
    {% endif %}

</div>


</div>

{% endblock %}
